@import '../helpers/helpers'

/* ==========================================================================
	 Base customize for cards
	 ========================================================================== */
.card
	position: relative
	display: block
	min-width: 0
	height: 100%


/* ==========================================================================
	 Product card
	 ========================================================================== */
.products-slider
	.card-product::before,
	.card-attributes
		display: none

.card-product
	min-width: 0
	z-index: 1
	padding-top: 16px
	background-color: $white
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		margin: -16px
		border: 1px solid $text-200
		border-bottom: 0
		opacity: 0
		transition: opacity .15s ease
		+media-breakpoint-down(sm)
			display: none
	&:hover
		z-index: 2
		&::before
			opacity: 1
		+media-breakpoint-up(md)
			.card-label
				visibility: hidden
				opacity: 0
			.card-quick-view,
			.card-attributes
				visibility: visible
				opacity: 1
				transform: none

	// Quick view
	.card-quick-view
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 3
		visibility: hidden
		opacity: 0
		transition: $trs
		+media-breakpoint-down(sm)
			display: none
		.btn
			width: 100%
			font-size: 15px
			color: #219653
			+media-breakpoint-down(md)
				font-size: 13px

	// Card gallery (slideshow)
	.card-gallery
		position: relative
		display: flex
		padding-left: 5px
		padding-right: 5px
		&-item
			flex-grow: 1
			height: 164px
			+media-breakpoint-down(md)
				&:not(:first-child)
					display: none
			&:not(:last-child)
				.card-gallery-item-nav
					margin-right: 4px
			&-nav
				display: block
				position: relative
				height: 100%
				+media-breakpoint-down(md)
					display: none
				&::before
					content: ''
					cursor: pointer
					display: block
					position: absolute
					left: 0
					right: 0
					bottom: -2px
					height: 2px
					border-radius: 2px
					background-color: $text-200
					transition: background-color .2s ease-in-out
			img
				user-select: none
				pointer-events: none
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 1
				padding-top: 10px
				padding-bottom: 2px
				margin: auto
				width: 100%
				height: 100%
				object-fit: scale-down
				opacity: 0
				transform: scale(1.01)
				transition: $trs
			&._active
				.card-gallery-item-nav::before
					background-color: $green
				img
					opacity: 1
	
	// Card photo (base state)
	.card-photo
		display: block
		height: 164px
		img
			width: 100%
			height: 100%
			padding-top: 10px
			object-fit: scale-down
			transform: scale(1.01)
			transition: transform .3s ease

	// Card meta props
	.card-meta
		// Stock
		.stock
			display: block
			padding: 8px 5px
			color: $text-400
			+font-size(xxs)
			white-space: nowrap
			+media-breakpoint-down(xs)
				padding-left: 2px
				padding-right: 2px
			&::before
				content: ''
				display: inline-block
				vertical-align: middle
				width: 5px
				height: 5px
				margin-right: 9px
				border-radius: 50%
			&-in::before
				background-color: $green
			&-out::before
				background-color: $warning
			&-order::before
				background-color: $yellow
			&-archive::before,
			&-removed::before
				background-color: $text-300
		// Permalink
		.permalink
			overflow: hidden
			display: block
			height: 60px
			font-size: 15px
			line-height: 20px
			+media-breakpoint-down(md)
				height: 65px
				+font-size(xxs)
		// Price
		.price
			display: flex
			flex-wrap: wrap
			align-items: center
			height: 32px
			padding-top: 12px
			+media-breakpoint-down(md)
				padding-top: 8px
				ins
					flex: 0 0 100%
					order: 1
					+font-size(xxs)
				del
					flex: 0 0 100%
					order: 0
			ins
				margin-right: 8px
				color: $text-500
				font-size: 15px
				font-weight: $w-bold
				line-height: 1
				text-decoration: none
			del
				color: $warning
				+font-size(xxs)
	
	// Card buttons (Compare, Wishlist, Add to cart)
	.card-buttons
		display: flex
		flex-direction: column
		margin-top: 16px
		&-group
			margin-bottom: 8px
			display: flex
			align-items: center
			border-radius: 4px
			> .btn
				flex-grow: 1
				width: 100%
				height: 40px
				padding-left: 0
				padding-right: 0
				color: $text-300
				line-height: 40px
				&._added
					border-color: $trsp
					background-color: $yellow
					color: $text-500
				&:not(:first-child)
					border-top-left-radius: 0
					border-bottom-left-radius: 0
					border-left-width: 0
				&:not(:last-child)
					border-top-right-radius: 0
					border-bottom-right-radius: 0
				&:hover
					background-color: $yellow
					border-color: $trsp
					color: $text-500
				&:active
					box-shadow: 0 0 0 4px rgba($yellow, 0.25)
					background-color: lighten($yellow, 8%)
					color: $text-500
				&:focus
					z-index: 1
		// Quick buy button
		.btn-quick-buy
			margin-top: 8px
			font-size: 15px
			color: #219653
			+media-breakpoint-down(md)
				font-size: 13px

	// Card attributes
	.card-attributes
		position: absolute
		top: 100%
		left: -16px
		right: -16px
		z-index: -1
		padding: 16px
		border: 1px solid $text-200
		border-top: 0
		background-color: $white
		visibility: hidden
		opacity: 0
		transform: translate3d(0, 3px, 0)
		transition: all .15s ease
		> div
			color: $text-400
			+font-size(xxs)
			> b, > strong
				color: $text-500
			&:not(:last-child)
				margin-bottom: 8px


/* ==========================================================================
	 Testimonial card
	 ========================================================================== */
.card-testimonial
	padding: 24px
	border-radius: 8px
	background-color: $background
	+media-breakpoint-down(xs)
		padding: 16px
	.card-heading
		display: flex
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(xxs)
			flex-direction: column
			align-items: flex-start
		.rating
			display: flex
			align-items: center
			.icon-rating
				width: 24px
				height: 24px
				+media-breakpoint-down(sm)
					width: 20px
					height: 20px
				&:not(:last-child)
					margin-right: 4px
				&:not(.icon-rating--filled)
					fill: $text-200
				&--filled
					fill: $yellow
		.date
			color: $text-400
			font-size: 13px
			line-height: 1
			+media-breakpoint-down(xxs)
				margin-top: 8px
	.card-meta
		margin-top: 24px
		+media-breakpoint-down(sm)
			margin-top: 16px
		.name
			+font-size(sm)
		.text
			margin-top: 16px
			color: $text-400
			> p
				+font-size(xs)
				+media-breakpoint-down(lg)
					font-size: 13px
					line-height: 20px
				&:last-child
					margin-bottom: 0


/* ==========================================================================
	 Article card
	 ========================================================================== */
.card-article
	&:hover
		.card-photo img
			transform: scale(1.1)
	.card-photo
		border-radius: 8px
		height: 200px
		+media-breakpoint-down(xs)
			height: 160px
		img
			transition: transform .35s ease
	.card-meta
		margin-top: 24px
		.title
			margin-bottom: 16px
		.date
			display: block
			color: $text-400