@import '../helpers/helpers'

/* ==========================================================================
	 Base customize for forms
	 ========================================================================== */
::placeholder
	color: $text-400

input, textarea
	outline: none
	font-family: $userfont
	// &:focus:required:invalid
	// 	border-color: red
	// &:required:valid
	// 	border-color: $green

.form
	position: relative
	&-label
		margin-bottom: 12px
		color: $black
		font-size: 15px
		cursor: pointer
	&-control,
	&-textarea
		appearance: none
		display: block
		width: 100%
		color: $text-500
		font-size: 15px
		font-weight: $w-regular
		border-radius: 4px
		border: 1px solid $text-200
		background-color: $white
		background-clip: padding-box
		transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out
		&:focus
			box-shadow: 0 0 0 3px rgba($yellow, 0.25)
	&-control
		height: 64px
		padding-left: 16px
		padding-right: 16px
		line-height: 64px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
	&-textarea
		resize: none
		padding: 8px 16px

// Search form
.form-search
	display: flex
	align-items: center
	.form-control,
	.form-submit
		height: 48px
	.form-control
		border-radius: 4px 0 0 4px
		border-right: 0
		background-color: #F9F9F9
		&:focus
			background-color: $white
	.form-submit
		flex: 0 0 auto
		width: 48px
		padding: 0
		border-radius: 0 4px 4px 0