/* ==========================================================================
	 Base customize for tables
	 ========================================================================== */
table
	width: 100%

.table-border
	thead
		th
			padding-bottom: 20px
	tbody
		td
			padding-top: 24px
			padding-right: 24px
			padding-bottom: 24px
			border-top: 1px solid $text-200

.table-responsive
	display: block
	width: 100%
	overflow-x: auto
	-webkit-overflow-scrolling: touch
	table
		min-width: 500px


/* ==========================================================================
	 Product attributes table
	 ========================================================================== */
.table-attributes
	max-width: 560px
	tr
		.attribute,
		.value
			position: relative
			vertical-align: bottom
			padding-top: 8px
			padding-bottom: 8px
			z-index: 1
			color: $text-500
			+font-size(xs)
			> span
				display: inline-block
				padding-right: 6px
				background-color: $white
			a
				color: $blue
				&:hover
					color: $green
		.hint
			top: 2px
			margin-left: 4px

		.attribute
			&::after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 15px
				z-index: -1
				border-bottom: 1px dotted $text-300
		.value
			padding-left: 24px
