.header
	position: relative

	// Top header
	&-top
		background-color: $white
		border-bottom: 1px solid $border
		&-adress
		&-btns
			display: inline-flex
			align-items: center
			.btn
				margin: 0 6px
		&-nav
			display: inline-flex
			align-items: center
			.menu-list
				display: inline-flex
				> li
					display: inline-flex
					align-items: center
					&:not(:first-child)
						margin-left: 24px
					> a
						padding: 16px 0
						font-size: 15px
						line-height: 1
					&.has-dropdown
						position: relative
						&::after
							content: ''
							display: inline-block
							width: 16px
							height: 16px
							margin-left: 4px
							background: url('../images/dist/icons/dropdown-arrow.svg') no-repeat center/16px
							transform-origin: 50% 50%
							transition: transform .3s ease
						&:hover
							&::after
								transform: rotate(180deg)
							> a
								color: $blue
							> ul
								pointer-events: auto
								visibility: visible
								opacity: 1
								transform: none
						> ul
							pointer-events: none
							visibility: hidden
							position: absolute
							top: 100%
							left: -25px
							z-index: 9
							width: 200px
							padding: 16px
							border-radius: 8px
							box-shadow: $box-shadow
							background-color: $white
							opacity: 0
							transform: translate3d(0, 10px, 0)
							transition: $trs
							&::before
								content: ''
								position: absolute
								top: -15px
								left: 50px
								display: block
								border: 8px solid $trsp
								border-bottom: 8px solid $white
							> li
								&:not(:last-child)
									margin-bottom: 8px
								> a
									@include font-size(xs)
			.social-list
				display: inline-flex
				margin-left: 40px
				> li
					&:not(:first-child)
						margin-left: 6px
					> a
						display: inline-flex
						align-items: center
						justify-content: center
						width: 36px
						height: 36px
						border-radius: 50%
						border: 1px solid $text-200
						> img
							width: 20px
							height: 20px

	// Middle header
	&-middle
		padding-top: 24px
		padding-bottom: 24px

		// Logotype
		&-logo
			margin-right: 30px
			a
				display: block
			img
				max-width: 250px
				max-height: 45px
		
		// Search
		&-search
			position: relative
			max-width: 304px
			.form
				width: 280px
				transition: width .3s ease
			.form-group-label
				width: 100%
			&._is-focused
				width: auto
				max-width: 100%
				.form
					width: 100%
				~ .header-middle-contacts
					display: none

			// Search results
			.search-results
				pointer-events: none
				visibility: hidden
				overflow: hidden
				position: absolute
				left: 12px
				right: 12px
				z-index: 8
				height: 0
				margin-top: 16px
				opacity: 0
				transform: translate3d(0, 10px, 0)
				transition: $trs
				&._is-opened
					pointer-events: auto
					visibility: visible
					overflow: visible
					height: auto
					opacity: 1
					transform: none
				&-wrapper
					padding: 24px 16px
					border-radius: 8px
					box-shadow: $box-shadow
					background-color: $white
					> div:not(:last-child)
						margin-bottom: 26px
				.categories
					&-title
						display: block
						color: $text-400
						@include font-size(xxs)
					&-list
						> li
							&:not(:last-child)
								margin-bottom: 6px
							> a
								display: inline-block
								font-size: 15px
								line-height: 1.3
								font-weight: $w-bold
				.products
					&-title
						display: block
						color: $text-400
						@include font-size(xxs)
					&-results
						display: flex
						justify-content: space-between
						> span
							color: $text-400
							@include font-size(xs)
					&-list
						margin-top: 20px
						> li
							&:not(:last-child)
								margin-bottom: 8px
							> a
								display: flex
								padding: 8px
								border-radius: 4px
								background-color: $white
								&:hover
									background-color: $background
								.photo
									flex: 0 0 auto
									width: 64px
									height: 64px
								.meta
									margin-left: 14px
									.title
										display: block
										margin-bottom: 8px
										color: $blue
										@include font-size(xs)
									.price
										display: flex
										flex-wrap: wrap
										align-items: center
										ins
											margin-right: 8px
											color: $text-500
											@include font-size(xs)
											font-weight: $w-bold
											text-decoration: none
										del
											color: $warning
											@include font-size(xxs)

		// Contacts
		&-contacts
			margin-left: 14px
			.phone,
			.mail
				display: flex
				align-items: center
				&-icon
					flex: 0 0 auto
					display: inline-flex
					align-items: center
					color: $text-300
					font-size: 14px
				&-list
					margin-left: 8px
					> a
						display: inline-flex
						align-items: center
						color: $text-400
						> i:first-child
							margin-left: 8px
						.viber,
						.whatsapp
							user-select: none
							flex: 0 0 auto
							display: inline-block
							margin-left: 2px
							background-repeat: no-repeat
							background-size: 100%
							background-position: center
							font-style: normal
						.viber
							width: 22px
							height: 22px
							background-image: url('../images/dist/icons/viber.svg')
						.whatsapp
							width: 24px
							height: 24px
							background-image: url('../images/dist/icons/whatsapp.svg')
						&:hover
							color: $blue
						&:not(:last-child)
							margin-right: 6px
							&::after
								content: ','
								display: inline-block
								color: $text-400
		
		// Compare, Wishlist & Shopping cart
		&-actions
			display: flex
			align-items: center
			justify-content: flex-end
			.compare, .wishlist
				margin-right: 16px
			.shopping-cart
				display: inline-flex
				align-items: center
				&-content
					margin-left: 12px
					.title
						display: block
						color: $text-400
						@include font-size(xxs)
					.total
						display: block
						color: $text-500
						font-size: 12px
						font-weight: $w-bold
						line-height: 16px
						text-transform: uppercase
			
			// Widget
			.wishlist,
			.shopping-cart
				position: relative
				&:hover
					.wishlist-icon,
					.shopping-cart-icon
						.btn
							border-color: $text-200
							background-color: $text-200
							color: $text-500
					.wishlist-widget,
					.shopping-cart-widget
						pointer-events: auto
						opacity: 1
						visibility: visible
				&-widget
					pointer-events: none
					visibility: hidden
					position: absolute
					top: 100%
					left: calc(-312px / 2)
					z-index: 10
					width: 312px
					opacity: 0
					transition: $trs
					&::before
						content: ''
						position: absolute
						top: -4px
						left: 55.5%
						display: block
						border: 8px solid $trsp
						border-bottom: 8px solid $white
					.wrapper
						margin-top: 12px
						padding: 16px
						border-radius: 8px
						box-shadow: $box-shadow
						background-color: $white
					.products-list
						&-item
							position: relative
							margin-bottom: 16px
							padding-bottom: 8px
							border-bottom: 1px solid $text-200
						&-link
							display: flex
							padding-right: 30px
							border-radius: 4px
							background-color: $white
							&:hover
								.title
									color: $green
							.photo
								flex: 0 0 auto
								width: 48px
								height: 48px
								margin-right: 14px
							.title
								display: block
								margin-bottom: 12px
								color: $blue
								@include font-size(xxs)
								font-weight: $w-bold
								transition: color .3s ease
						.total
							display: flex
							padding-bottom: 8px
							align-items: center
							justify-content: space-between
							padding-left: 62px
							&-price
								justify-content: flex-end
								ins
									display: block
									margin-right: 0 !important
						.price
							display: flex
							flex-wrap: wrap
							align-items: center
							ins
								margin-right: 8px
								color: $text-500
								@include font-size(xs)
								font-weight: $w-bold
								text-decoration: none
							del
								color: $warning
								@include font-size(xxs)
						&-delete
							position: absolute
							top: 0
							right: 0
							color: $text-300
							font-size: 18px
							&:hover
								color: $warning
					.subtotal
						margin-bottom: 20px
						text-align: right
					.checkout-btn
						width: 100%
						font-weight: $w-regular

	// Bottom header
	&-bottom
		.container
			position: relative

		// Catalog
		&-catalog
			flex: 0 0 auto
			&:hover
				.catalog-nav
					pointer-events: auto
					visibility: visible
					opacity: 1
			// Catalog button
			.catalog-btn
				width: 210px
				font-size: 12px
				text-transform: uppercase
			// Catalog navigation
			.catalog-nav
				pointer-events: none
				visibility: hidden
				position: absolute
				left: 12px
				right: 12px
				z-index: 8
				margin-top: 8px
				padding-bottom: 16px
				background-color: $white
				opacity: 0
				transition: $trs
				&:before
					content: ''
					position: absolute
					top: -8px
					left: 0
					width: 100%
					height: 20px
					background-color: $trsp
				&-list
					padding-top: 14px
				&-item
					&:not(:last-child)
						padding-bottom: 8px
					&:hover
						.catalog-nav-link
							background-color: $background
							color: $blue
							font-weight: $w-bold
						.catalog-nav-submenu
							display: block
				&-link
					display: flex
					align-items: center
					justify-content: space-between
					padding: 8px 12px
					border-radius: 4px
					background-color: $white
					color: $text-500
					font-size: 15px
					line-height: 16px
					transition: color .3s ease
					.icon
						flex: 0 0 auto
						width: 16px
						height: 16px
						margin-left: 6px
				&-submenu
					position: absolute
					top: 0
					left: 228px
					display: none
					width: 1096px
					padding: 30px 25px
					background-color: $background
					&::before
						content: ''
						position: absolute
						top: 0
						right: 100%
						z-index: -1
						display: block
						width: 230px
						height: 100%
						background-color: $white
					.menu-title
						color: $text-300
					.menu-grid
						display: flex
						flex-wrap: wrap
						margin-left: -12px
						margin-right: -12px
						&-col
							flex: 0 0 25%
							max-width: 25%
							padding-left: 12px
							padding-right: 12px
						&-list
							&:not(:last-child)
								margin-bottom: 16px
							.category
								display: block
								margin-bottom: 8px
								font-size: 15px
								line-height: 1.3
								font-weight: $w-bold
							.subcategories
								> li
									&:not(:last-child)
										margin-bottom: 8px
									> a
										display: block
										@include font-size(xxs)

		// Navigation
		&-nav
			position: static
			> ul
				display: flex
				justify-content: space-between
				> li
					display: inline-flex
					align-items: center
					> a
						padding: 14px 0
						font-size: 12px
						font-weight: $w-bold
						letter-spacing: 1px
						text-transform: uppercase
						&.promo
							display: inline-flex
							align-items: center
							&::before
								content: ''
								flex: 0 0 auto
								display: inline-block
								width: 24px
								height: 24px
								margin-right: 8px
								background: url('../images/dist/icons/fire.svg') no-repeat center/100%
					&.has-dropdown
						&::after
							content: ''
							display: inline-block
							width: 16px
							height: 16px
							margin-left: 4px
							background: url('../images/dist/icons/dropdown-arrow.svg') no-repeat center/16px
							transform-origin: 50% 50%
							transition: transform .3s ease
						&:hover
							&::after
								transform: rotate(180deg)
							> a
								color: $blue
							.megamenu
								pointer-events: auto
								visibility: visible
								opacity: 1
								transform: none
						.megamenu
							pointer-events: none
							visibility: hidden
							position: absolute
							top: 100%
							left: 0
							right: 0
							z-index: 9
							padding-top: 32px
							padding-bottom: 32px
							background-color: $white
							opacity: 0
							transform: translate3d(0, 10px, 0)
							transition: $trs
							&-list
								display: flex
								flex-wrap: wrap
								margin: -20px -12px
							&-item
								flex: 0 0 16.66667%
								max-width: 16.66667%
								padding: 20px 12px
								.image
									display: block
									width: 88px
									height: 88px
									margin-bottom: 16px
									border-radius: 38px
								.category
									display: inline-block
									padding-right: 10px
									font-size: 15px
									font-weight: $w-bold
									line-height: 16px
								.subcategories
									margin-top: 10px
									> li
										> a
											display: inline-block
											padding: 4px 0
											@include font-size(xxs)
