.shop-brands

	// Brands alphabet
	&-alphabet
		.alphabet
			display: flex
			flex-wrap: wrap
			align-items: baseline
			justify-content: center
			margin: -4px
			&-letter
				display: inline-flex
				align-items: center
				justify-content: center
				width: 32px
				height: 32px
				margin: 4px
				background-color: $white
				text-align: center
				&:hover
					border-color: $trsp
					background-color: $yellow
					color: $text-500

	// Brands list
	&-list
		.brand
			text-align: center
			&:hover
				.brand-logo
					border-color: $blue
				.brand-name
					color: $blue
			&-logo
				height: 64px
				padding: 8px
				margin-bottom: 10px
				transition: border .3s ease
				img
					max-width: 104px
					max-height: 48px
			&-name
				margin-bottom: 0
				color: $text-400
				font-size: 12px
				letter-spacing: .11em
				word-break: break-word
				transition: color .3s ease


/* ==========================================================================
	 Brands single page
	 ========================================================================== */
.s-brands
	&-products
		&-item
			display: flex
			width: 100%
			&:not(:last-child)
				margin-bottom: 16px
			&:hover
				.s-brands-products-meta .title
					color: $green
		&-photo
			flex: 0 0 auto
			width: 64px
			height: 64px
			margin-right: 16px
		&-meta
			display: flex
			flex-direction: column
			width: 100%
			align-items: flex-start
			justify-content: space-between
			.title
				margin-bottom: 8px
				color: $blue
				transition: color .3s ease
			.price
				display: flex
				flex-wrap: wrap
				min-height: 30px
				ins
					display: block
					margin-right: 8px
					color: $text-500
					font-size: 13px
					font-weight: $w-bold
					line-height: 1
					text-decoration: none
				del
					display: block
					color: $warning
					font-size: 13px
					line-height: 1